<!-- SERVICE PICKER -->
<section id="picker" class="vertical-align animated-card">
    <h2 class="ui icon header">
      <i class="settings icon light"></i>

      <div class="content light">
        Select a Service
        <div class="sub header light">That you would like to use with BulkLoader:</div>
      </div>
    </h2>

    <div class="services-selections">
      <a href ng-click="onSelect('sfdcmarketingcloud')" id="sfdcmarketingcloud" class="salesforce" alt="SalesForce"
         data-instance="Connect to Salesforce.com">
        <i class="icon wait" ng-click="onSelectSchedule('sfdcmarketingcloud', $event)"></i>
      </a>
      <a href ng-click="onSelect('hubspot')" id="hubspot" class="hubspot" alt="HubSpot"
         data-instance="Connect to Hubspot">
        <i class="icon wait" ng-click="onSelectSchedule()"></i>
      </a>
      <a href ng-click="onSelect('eloqua')" id="eloqua" class="eloqua" alt="Eloqua" data-instance="Connect to Eloqua">
        <i class="icon wait" ng-click="onSelectSchedule()"></i>
      </a>
      <a href ng-click="onSelect('marketo')" id="marketo" class="marketo" alt="Marketo"
         data-instance="Connect to Marketo">
        <i class="icon wait" ng-click="onSelectSchedule()"></i>
      </a>
      <!--<a href="#" class="add-new" alt="Add New Service"><i class="icon circle add"></i></a>-->
    </div>
</section>
