<!-- LIST SELECTION -->
<section id="data-list" class="animated-panel">

  <!-- FIXED LIST HEADER & SELECTION -->
  <div id="data-list-header">
    <div class="ui grid">
      <div class="column eight wide" id="select-dropdown-container">
        <ui-select ng-model="selectedObject.select" theme="select2" ng-disabled="disabled" style="width: 100%;" ng-change="refreshObjectMetaData()">
          <ui-select-match placeholder="Select Object">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="selectedObject in instanceObjects | filter: $select.search">
            <div ng-bind-html="selectedObject | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>


        <!--<div id="select-dropdown-container" class="ui fluid dropdown white-gradient icon button" tabindex="0">-->
          <!--<select class="" ng-model="selectedObject" ng-options="o as o for o in instanceObjects"-->
                  <!--ng-change="refreshObjectMetaData()">-->
            <!--<option value="">Select Object</option>-->
          <!--</select>-->
        <!--</div>-->
      </div>
      <div class="column eight wide">
        <div class="button-container pull-right">
          <div class="ui tiny">
             <button type="submit" class="ui button tiny" ng-click="cancel()">Cancel</button>
             <button type="submit" class="ui inverted button tiny" ng-click="save()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LIST BODY -->
  <div id="data-list-body">

    <script type="text/ng-template" id="objectFields.html">
      <div ui-tree-handle data-nodrop class="tree-node ui toggle tree-root-li-li-container">
          <md-switch ng-model="metadata.transform" class="md-primary-green" md-no-ink aria-label="metadata.vendorPath">
              <label>{{metadata.vendorPath}}</label>
          </md-switch>

        <span class="type">{{metadata.type}}</span>
      </div>
      <ul ui-tree-nodes="" data-nodrop ng-model="metadata.fields" ng-class="{hidden: collapsed}">
        <li ng-repeat="metadata in metadata.fields" ui-tree-node data-nodrop ng-include="'objectFields.html'"
            collapsed="true">
        </li>
      </ul>
    </script>

    <div ui-tree="fieldsTreeOptions" data-nodrop id="tree1-root" data-drag-enabled="false" ng-show="showTree" class="list">
      <h1>{{selectedObject.select}} Object</h1>
      <li class="tree-root-li">
        <div class="tree-root-li-container">
            <md-switch class="md-primary-green" md-no-ink aria-label="Enable Object">
                <label>{{selectedObject.select}}</label>
            </md-switch>
            <span class="type">object</span>
        </div>
        <ul ui-tree-nodes="" data-nodrop ng-model="objectMetaData">
          <li ng-repeat="metadata in objectMetaData"
              ui-tree-node data-nodrop ng-include="'objectFields.html'"
              collapsed="true">
          </li>
        </ul>
      </li>
    </div>


    <!--<div class="list">-->
      <!--<h1>Account Object</h1>-->
      <!--<ul>-->
        <!--<li>-->
          <!--<div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">object</span></div>-->
          <!--<ul>-->
            <!--<li><div class="ui toggle checkbox target"><input type="checkbox" name="public" ><label>Property1</label><span class="type">String</span></div></li>-->
            <!--<li><div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">String</span></div></li>-->
            <!--<li><div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">String</span></div></li>-->
            <!--<li>-->
              <!--<div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">object</span></div>-->
              <!--<ul>-->
                <!--<li><div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">String</span></div></li>-->
                <!--<li><div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">String</span></div></li>-->
                <!--<li><div class="ui toggle checkbox"><input type="checkbox" name="public"><label>Property1</label><span class="type">String</span></div></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>

</section>

