/*********************************
GENERAL
**********************************/

body {
  font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

body .page {
     display: block;
     top: inherit;
     bottom: inherit;
     left: inherit;
     right: inherit;
     position: relative;
}
#wrapper {
    padding: 20px 15%;
    background-color: #fff;
    width: 100%;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}

hr.clear {
    width: 100%;
    clear: both;
    border: none;
}
p{
    color: inherit;
}


/*********************************
HEADING
**********************************/

header {
    margin: 0;
    padding: 5px 0 0 0;
    width: 100%;
    height: 450px;
}

#logo {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 20px;
}

h1 {
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

.title {
  text-align: center;
  float: inherit;
}


/*********************************
FOOTER
**********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
  background-color: #252525;
}


/*********************************
INDEX: BOXES and Buttons;
**********************************/

/***THREE COLUMN LAYOUT STYLES****/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: #bdc3c7;
}

#gallery li p {
  margin: 0;
  padding: 5%;
  color: #bdc3c7;
  text-align: center;
}

#gallery li {
  width: 28.3333%;
}

/***TWO COLUMN LAYOUT STYLES****/

#contact-logo {
  width: 50%;
  float: left;
  padding-top: 20px;
}

 #contact-info{
  width: 50%;
  float: right;
  padding-top: 20px;
}

#contact-logo p, #contact-info p{
    color: #999;
}

#contact-logo li {
  list-style: none;
}

#contact-info li {
  list-style: none;
}

/***BUTTON HEADER STYLES****/

.btn-sign-up {
  background-color:#51bd8b;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:17px;
  padding:16px 63px;
  text-decoration:none;
  border: none;
  margin-right: 50px;
}
.btn-sign-up:hover {
  background-color:#3A8B65;
  color: #fff;
}
.btn-sign-up:active {
  position:relative;
  top:1px;
  color: #fff;
}

.btn-sign-up a {
  color: #fff;
}

.btn-log-in {
  background-color:#fff;
  border-color: #4894B3;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  cursor:pointer;
  color:#5DBEE6;
  font-family:"Open Sans";
  font-size:17px;
  padding:16px 70px;
  text-decoration:none;
  border: none;
  margin-left: 50px;
}
.btn-log-in:hover {
  background-color:#4894B3;
  color: #fff;
}

.btn-log-in:active {
  position:relative;
  top:1px;
}

/***LOG IN BUTTON BODY STYLES****/

.btn-log-in-two {
  background-color:#5DBEE6;
  border-color: #4894B3;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  cursor:pointer;
  color:#fff;
  font-family:"Open Sans";
  font-size:17px;
  padding:16px 70px;
  text-decoration:none;
  border: none;
  margin-left: 50px;
}
.btn-log-in-two:hover {
  background-color:#4894B3;
}

.btn-log-in-two:active {
  position:relative;
  top:1px;
}

.buttonHolder {
  text-align: center;
  padding: 30px;
}

/***POWERED BY SECTION STYLES****/

section p {
  text-align: center;
}

section img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}


/*********************************
COLORS
**********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* blue header */
header {
  background: #5DBEE6;
}

/* logo text */
h1 {
  color: #fff;
}

/* links */
a {
  color: #5DBEE6;
}

/* nav link */
nav a, nav a:visited {
  color: #3A8B65;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #4894B3;
}