<link rel="stylesheet" type="text/css" href="styles/normalize.css">
<link rel="stylesheet" type="text/css" href="styles/main.css">
<header>
  <img id="logo" src="images/element-loader-logo.png" alt="Element Loader Logo" width="220px">
  <h1 class="title">A Data Migration Tool To Import, Export</h1>
  <h1 class="title">And Synchronize your Data On An Ongoing Basis.</h1>
  <div class="buttonHolder">
    <a class="btn-sign-up" ng-click="goToSignup()">Sign Up</a><a class="btn-log-in" ng-click="goToLogin()">Login</a>
  </div>
</header>
<div id="wrapper">
  <section>
    <ul id="gallery">
      <li>
        <img src="images/mapping.png" alt="Mapping">
        <p>Map and move data from application sources to application targets</p>
      </li>
      <li>
        <img src="images/upload.png" alt="Upload">
        <p>Sync Accounts, Campaigns, Contacts and Leads across cloud services.</p>
      </li>
      <li>
        <img src="images/security.png" alt="Security">
        <p>Data is secured using a complete 256 bit AES encryption scheme.</p>
      </li>
    </ul>
  </section>
  <section id="contact-logo">
    <ul>
      <li>
        <p>Powered by</p>
        <img src="images/ce-logo.jpg" alt="Cloud Elements Logo" width="300px">
      </li>
      <li>
    </ul>
  </section>
  <section id="contact-info">
    <p>Questions?</p>
    <p>Email us at <a href="mailto:info@cloud-elements.com">info@cloud-elements.com</a></p>
    <p>or call <a href="+1.866.830.3456">+1.866.830.3456</a>.</p>
    </li>
    </ul>
  </section>
  <hr class="clear">
</div>
<footer>
  <p>&copy; Copyright 2015 Cloud Elements LLC. All rights reserved. 3001 Brighton Blvd. Suite #653, Denver, CO 80216 United States <a href="http://cloud-elements.com/privacy/">Privacy</a> and <a href="http://cloud-elements.com/security/">Security</a></p>
</footer>