<link rel="stylesheet" type="text/css" href="styles/normalize.css">
<link rel="stylesheet" type="text/css" href="styles/sailthrumain.css">

<header>
  <img id="logo" src="images/sailthru-logo-white.png" alt="Sailthru" width="300px">
  <h1 class="title">HEADER DESCRIPTION</h1>
  <!--<h2 class="title">POWERED BY <img src="images/ce-logo-white.png" alt="Cloud Elements Logo"></h2>-->
  <div class="buttonHolder">
    <a class="btn-sign-up btn-credentials" ng-click="goToSignup()">SIGN UP</a>
    <a class="btn-log-in btn-credentials" ng-click="goToLogin()">LOGIN</a>
  </div>
</header>
<div id="wrapper">
  <h2 class="screenshot-headline">Easy to Use</h2>
  <section class="screenshot-container">
    <ul>
      <li>
        <p><b style="font-size: 1.5em;">Step one description</b><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu scelerisque tortor. Fusce eu felis sit amet tortor pharetra porta et volutpat orci. Vestibulum efficitur ligula turpis, at aliquet nunc luctus ut.</p>

        <img src="images/sailthru-screeshot1.png">
      </li>
      <li>
        <p><b style="font-size: 1.5em;">Step two description</b><br />
          Nulla a feugiat felis, eget tempus nisi. Curabitur a porttitor erat, vitae dapibus eros. Quisque convallis tempus arcu a posuere.   </p>
        <img style="float: left;" src="images/sailthru-screeshot2.png">
      </li>
    </ul>
  </section>

  <section id="contact-logo">
    <ul>
      <li>
        <h2 class="headline">Powered By</h2>
        <img src="images/ce-logo.jpg" alt="Cloud Elements Logo" width="300px">
      </li>
      <li>
    </ul>
  </section>
  <section id="contact-info">
    <h2 class="headline">Questions</h2>
  </section>
</div>
<footer>
  <p>&copy; Copyright 2015 Cloud Elements LLC. All rights reserved. 3001 Brighton Blvd. Suite #653, Denver, CO 80216 United States <a href="http://cloud-elements.com/privacy/">Privacy</a> and <a href="http://cloud-elements.com/security/">Security</a></p>
</footer>