<!-- SERVICE CREDENTIALS -->
<div ng-include="'hsanalytics.html'" ng-if="hsanalytics"></div>
<div ng-include="'stheading.html'" ng-if="hsanalytics"></div>
<section id="credentials" class="animated-card">

  <div id="login" class="credentials-container vertical-align horizontal-align" ng-show="showLogin">
    <div class="credentials-logo"></div>
    <div class="header">
      Welcome to {{appName}}! <br/>Go ahead and Log in.
    </div>
    <form>
      <div class="content">
        <p ng-if="!hsformfields && !btNoNewAccountLink"> Need an account? <a href
                                                                             ng-click="changeCredentialView('signup',$event);">Sign up here</a></p><br/>

        <div class="description" style="vertical-align: middle;">
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="text" placeholder="Email" ng-model="login.email"/>
          </div>
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="password" placeholder="Password" ng-model="login.password"/>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="one fluid ui inverted buttons">
          <button type="submit" class="ui green basic inverted button tiny" ng-click="onLogin()">Log in</button>
        </div>
      </div>
      <div class="content">
        <p style="padding: 20px 0;">
          <a href role="button" ng-click="changeCredentialView('forgotpassword',$event);">
            Forgot Password?
          </a>
        </p>
      </div>
    </form>
  </div>


  <div id="signup" class="credentials-container vertical-align" ng-show="showSignup">
    <div class="credentials-logo"></div>
    <div class="header">
      Get started with {{appName}}
    </div>
    <form>
      <div class="content">
        <p>Already have an account? <a href ng-click="changeCredentialView('login',$event);"> Log in here</a></p><br/>

        <div class="description" style="vertical-align: middle;">
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="text" placeholder="First Name" ng-model="signup.firstName"/>
          </div>
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="text" placeholder="Last Name" ng-model="signup.lastName"/>
          </div>
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="text" placeholder="Email" ng-model="signup.email"/>
          </div>
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="password" placeholder="Password" ng-model="signup.password"/>
          </div>
          <!-- HS only field -->
          <div class="ui icon input fluid" style="margin-bottom: 10px; margin-top: 10px;" ng-if="hsformfields">
            <select class="bl-select" style="width: 100%;" ng-model="hscrm.selected">
              <option value="" disabled selected="selected">- Select your Source CRM -</option>
              <option value="PipeDrive">PipeDrive</option>
              <option value="Sugar">Sugar CRM</option>
              <option value="Zoho">Zoho CRM</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="one fluid ui inverted buttons">
          <button type="submit" class="ui green basic inverted button tiny" ng-click="onSignup()"> Create my
            account
          </button>
        </div>
      </div>
    </form>
  </div>

  <div id="forgotpassword" class="credentials-container vertical-align horizontal-align" ng-show="showForgotPassword">
    <div class="credentials-logo"></div>
    <div class="header">
      Enter your username
    </div>
    <form>
      <div class="content">
        <p>Already have an account? <a href ng-click="changeCredentialView('login',$event);"> Log in here</a></p><br/>

        <div class="description" style="vertical-align: middle;">
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="text" placeholder="Email" ng-model="forgotpasswordEmail"/>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="one fluid ui inverted buttons">
          <button type="submit" class="ui green basic inverted button tiny" ng-click="onForgot()">Get Password</button>
        </div>
      </div>
    </form>
  </div>

  <div id="newpassword" class="credentials-container vertical-align horizontal-align" ng-show="showNewPassword">
    <div class="header">
      Set your new password
    </div>
    <form>
      <div class="content">
        <div class="description" style="vertical-align: middle;">
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="password" placeholder="New Password" ng-model="newpassword"/>
          </div>
          <div class="ui icon input fluid" style="margin-bottom: 10px;">
            <input type="password" placeholder="Confirm Password" ng-model="newpasswordagain"/>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="one fluid ui inverted buttons">
          <button type="submit" class="ui green basic inverted button tiny" ng-click="onSetNewPassword()">Set New
            Password
          </button>
        </div>
      </div>
    </form>
  </div>

</section>