<!-- SERVICE CREDENTIALS -->
<section id="credentials" class="animated-card">

  <div id="login" class="credentials-container vertical-align horizontal-align" ng-show="showLogin">
    <div class="header">
      Welcome to Bulkloader! <br />Go ahead and Log in.
    </div>
    <div class="content">
      <p>Need an account? <a href ng-click="changeCredentialView('login',$event);"> Sign up here</a></p><br />
      <div class="description" style="vertical-align: middle;">
        <div class="ui icon input fluid" style="margin-bottom: 10px;">
          <input type="text" placeholder="Email" ng-model="login.email"/>
        </div>
        <div class="ui icon input fluid" style="margin-bottom: 10px;">
          <input type="password" placeholder="Password" ng-model="login.password"/>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="one fluid ui inverted buttons">
        <button type="submit" class="ui green basic inverted button tiny" ng-click="onLogin()">Log in</button>
      </div>
    </div>
  </div>


  <div id="signup" class="credentials-container vertical-align" ng-show="showSignup">
    <div class="header">
      Get started with Bulkloader
    </div>
    <div class="content">
      <p>Already have an account? <a href ng-click="changeCredentialView('signup',$event);"> Log in here</a></p><br />
      <div class="description" style="vertical-align: middle;">
        <div class="ui icon input fluid" style="margin-bottom: 10px;">
          <input type="text" placeholder="First Name" ng-model="signup.firstName"/>
        </div>
        <div class="ui icon input fluid" style="margin-bottom: 10px;">
          <input type="text" placeholder="Last Name" ng-model="signup.lastName"/>
        </div>
        <div class="ui icon input fluid" style="margin-bottom: 10px;">
          <input type="text" placeholder="Email" ng-model="signup.email"/>
        </div>
        <div class="ui icon input fluid" style="margin-bottom: 10px;">
          <input type="password" placeholder="Password" ng-model="signup.password"/>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="one fluid ui inverted buttons">
        <button type="submit" class="ui green basic inverted button tiny" ng-click="onSignup()"> Create my
          account</button>
      </div>
    </div>
  </div>



</section>
