<!-- Top navigation header -->
<div class="header-navigation" ng-controller="NavigationController as other" ng-show="shownav"
     ng-include="'navigation.html'"></div>

<!-- Formula template picker -->
<section id="picker" class="show-target dark-background">
  <div class="picker-source">
    <div class="vertical-align" style="width: 100%;">
      <h2 class="ui icon header">
        <div class="content light">
          <i class="settings icon light"></i> Select a Formula Template
          <div class="sub header light">That you would like to use with {{appName}}:</div>
        </div>
      </h2>

      <div class="services-selections">
        <a href ng-repeat="formula in formulas"
           ng-click='onSelect(formula)'
           id="{{formula.name}}"
           data-instance="{{formula.name}}"
           style='background-image: url("images/formula.png")'>
          <!--<i class="icon write" ng-click='onEditFormulaInstance(formula, $event)'> Edit</i>-->
          <i class="icon trash" ng-click='onDeleteFormulaInstance(formula, $event)'></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Left panel navigation bar -->
<md-sidenav class="md-sidenav-left" md-component-id="left" ng-include="'sidenav.html'"
            ng-controller="NavigationController"></md-sidenav>