<div class="header-navigation" ng-include="'branddingbar.html'"></div>

<!-- Top navigation header -->
<div class="header-navigation" ng-controller="NavigationController as other" ng-show="shownav"
     ng-include="'navigation.html'"></div>

<!-- Formula template picker -->
<section id="formula-picker" class="show-target dark-background">
  <div class="picker-source">
    <div class="vertical-align" style="width: 100%;">
      <h2 class="ui icon header">
        <div class="content light">
          <i class="settings icon light"></i> {{pageTitle}}
          <div class="sub header light">{{pageSubTitle}} {{appName}}:</div>
        </div>
      </h2>

      <div class="services-selections">
        <a href ng-repeat="formula in formulas"
           ng-click='onSelect(formula)'
           id="instance-{{formula.id}}"
           data-instance="{{formula.name}}"
           style='background-image: url("images/formula.png")'>
          <!--<i class="icon write" ng-click='onEditFormulaInstance(formula, $event)'> Edit</i>-->
          <i class="icon trash" ng-click='onDeleteFormulaInstance(formula, $event)'></i>
        </a>
      </div>
    </div>
  </div>
  <div id="multipleFormula" class="formula-instance-list" ng-show="showFormulaInstaces">
    <h3>{{instanceTitle}} Scheduled/synchronized</h3>
    <div id="select-dropdown-container" ng-show="selectedFormula.length > 1">
      <select
              data-ng-model="selectedFormula.selected"
              ng-options="o.name for o in selectedFormula"
              ng-change="refreshFormula()" class="ui-select-datalist">
      </select>
    </div>
    <ul ng-style="selectedFormula.length == 1 && {'top': '60px'}">
      <li ng-repeat="instances in formulaInstances">
        <p>{{instances.name}}</p>
        <button class="circular mini ui red right floated icon button"
                ng-click="onDeleteFormulaInstance(formula, $event, instances.id)" ng-if="false">
          <i class="icon remove"></i>
        </button>
      </li>
    </ul>
    <div ng-hide="formulaInstances.length" style="padding: 20px;">No {{instanceTitle}} found</div>
  </div>
</section>





<!-- Left panel navigation bar -->
<md-sidenav class="md-sidenav-left" md-component-id="left" ng-include="'sidenav.html'"
            ng-controller="NavigationController"></md-sidenav>