<div class="ui basic modal" style="display: block; width: 836px; position: static; margin: 0; min-height: 500px;">
  <i class="close icon" ng-click="cancel()"></i>
  <div class="header">
    Help
  </div>

  <div class="content">
    <script type="text/ng-template" id="helpimages.html">
      <img src="images/{{items.imageURL}}" width="100%"/>
      <div style="width:100%; margin-top: 20px;">
        <p style="color: #fff;" ng-modal="items.steps" ng-repeat="step in items.steps"
           ng-include="'helpsteps.html'"></p>


      </div>
    </script>

    <script type="text/ng-template" id="helpsteps.html">
      <span ng-show="step.text != null">{{step.text}}</span>
      <a href="{{step.link}}" target="_blank" ng-show="step.link != null">{{step.link}}</a>
    </script>


    <slick infinite="false" slides-to-show="1" slides-to-scroll="1" arrows="true" ng-modal="helpList">
      <div ng-repeat="items in helpList" ng-include="'helpimages.html'">
      </div>
    </slick>
  </div>
</div>