<!-- SERVICE JOB HISTORY -->
<section id="jobhistory" class="animated-card">

  <div class="jobslist">
    <script type="text/ng-template" id="jobHistory.html">
      <div class="job-header"><i class="wait icon"></i> {{metadata.date}} // {{metadata.time}}</div>
      <div class="job-body">
        <p>
          <span><img src="{{metadata.sourceLogo}}" width="30px" height="30px"> {{metadata.source}}</span><br/>
          {{metadata.sourceObject}}
        </p>
        <i class="chevron right icon"></i>
        <p>
          <span><img src="{{metadata.targetLogo}}" width="30px" height="30px"> {{metadata.target}}</span><br/>
          {{metadata.targetObject}}
        </p>
      </div>
      <div class="job-footer">
        <span><b>downloaded:</b> {{metadata.downloadCount}}</span>
        <span><b>failed:</b> {{metadata.failCount}}</span>
      </div>

    </script>
    <h2><i class="tasks icon"></i> Job List</h2>
    <ul class="job-tree" ng-model="jobhistorydata">
      <li class="job-tree-node" ng-repeat="metadata in jobhistorydata" ng-include="'jobHistory.html'"
          ng-click="onSelectJob($index);" ng-class="{ 'selectJob': $index == selectedIndex}">
      </li>
    </ul>
  </div>

  <div class="executionslist">
    <div ui-grid="jobExecutionsOptions" ui-grid-pagination ui-grid-selection ng-show="true"></div>
  </div>

</section>