<!-- SERVICE JOB HISTORY -->
<section id="jobhistory" class="animated-card">

  <div id="jobhistory-header" class="sixteen">
    <div class="ui grid">
      <div class="column ten wide">
        <h1><i class="tasks icon"></i> Job History</h1>
      </div>
      <div class="column six wide">
        <div class="button-container pull-right">
          <div class="ui tiny">
            <button type="submit" class="ui button tiny" ng-click="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="jobhistory-body">
    <!-- mapper BODY -->
    <div class="jobslist">
      <script type="text/ng-template" id="jobHistory.html">
        <div class="job-header"><i class="wait icon"></i> {{metadata.date}}</div>
        <div class="job-body">
          <p>
            {{metadata.sourceStatus}}<br/>
            <span><img src="{{metadata.sourceLogo}}" width="30px" height="30px">
              {{metadata.source}}</span><br/>
            {{metadata.sourceObjectName}}
          </p>
          <i class="chevron right icon"></i>
          <p>
            {{metadata.targetStatus}}<br/>
            <span><img src="{{metadata.targetLogo}}" width="30px" height="30px"> {{metadata.target}}</span><br/>
            {{metadata.targetObjectName}}
          </p>
        </div>
        <div class="job-footer">
          <span><b>downloaded:</b> {{metadata.sourceRecordCount}}</span>
          <!--<span><b>failed:</b> {{metadata.failCount}}</span>-->
        </div>

      </script>

      <ul class="job-tree" ng-model="jobhistorydata">
        <li class="job-tree-node" ng-repeat="metadata in jobhistorydata" ng-include="'jobHistory.html'"
            ng-click="onSelectJob($index);" ng-class="{'selectJob': $index == selectedIndex}">
        </li>
      </ul>
    </div>

    <div class="executionslist" ng-show="showNoErrors" >
      <div>
        <h2>{{errorMessage}}</h2>
        <br>
      </div>
    </div>

    <div class="executionslist" ng-show="showErrors" >
      <div>
        <h2>Errors</h2>
      </div>
      <div ui-grid="jobExecutionsOptions" ui-grid-selection></div>
    </div>

  </div>



</section>