<!-- SERVICE JOBS -->
<section id="jobhistory" class="animated-card">

  <div id="jobhistory-header" class="sixteen">
    <div class="ui grid">
      <div class="column ten wide">
        <h1><i class="tasks icon"></i> Scheduled Jobs</h1>
      </div>
      <div class="column six wide">
        <div class="button-container pull-right">
          <div class="ui tiny">
            <button type="submit" class="ui button tiny" ng-click="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="jobhistory-body" style="background-color: #444">
    <!-- mapper BODY -->
    <div class="jobslist">
      <h2 ng-hide="noJobsMessage" style="width: 100%;text-align: center;padding: 50px 0;color: #666;">No Jobs found</h2>

        <script type="text/ng-template" id="jobscheduledobjects.html">
          <span class="elementObject">{{metadata.sourceObject}}
            <i class="chevron right icon"></i></span>
          <span class="elementObject">{{metadata.targetObject}}</span>
        </script>

        <script type="text/ng-template" id="jobscheduled.html">
        <div class="job-header job-header-schedule">
          <span>Job Scheduled <b>{{metadata.scheduleType}}</b>
            <i ng-if="metadata.scheduleType == 'weekly'">for every {{metadata.scheduleTypeDetail}}</i>
            <i ng-if="metadata.scheduleType == 'monthly'">for every {{metadata.scheduleTypeDetail}} of
              the month</i>
          </span>
        </div>
        <div class="job-body">
          <p>
            <span class="element"><img src="{{metadata.sourceLogo}}" width="30px" height="30px"> {{metadata.source}}</span>
          </p>
          <p>
            <span class="element"><img src="{{metadata.targetLogo}}" width="30px" height="30px"> {{metadata.target}}</span><br />
          </p>
          <p ng-model="metadata.transformations" ng-repeat="metadata in metadata.transformations"
             ng-include="'jobscheduledobjects.html'" class="elementObjectContainer"></p>

        </div>

        <div class="job-footer">
          <button type="submit" ng-show="showEnable(metadata)" ng-click="onDisable(metadata, $event)"
                  class="pull-left btn btn-link scheduledJobsEnabled">
            <i></i> <span>Enabled</span>
            <md-tooltip>
              Click to Disable
            </md-tooltip>
          </button>
          <button type="submit" ng-show="showDisable(metadata)" ng-click="onEnable(metadata, $event)"
                  class="pull-left btn btn-link scheduledJobsDisabled">
            <i></i>  <span>Disabled</span>
            <md-tooltip>
              Click to Enable
            </md-tooltip>
          </button>
          <button type="submit" ng-click="onDelete(metadata, $event)" class="pull-right btn btn-danger btn-xs" style="margin:5px;">
            <i class="glyphicon glyphicon-remove"></i> Delete
          </button>
        </div>

      </script>

      <ul class="job-tree" ng-model="jobscheduledata">
        <li class="job-tree-node" ng-repeat="metadata in jobscheduledata" ng-include="'jobscheduled.html'"
            ng-click="onSelectScheduledJob($index);" ng-class="{'selectJob': $index == selectedIndex}">
        </li>
      </ul>
    </div>

    <div class="executionslist executionslisterrors" style="overflow: scroll;background: linear-gradient(#333, #222)">
      <div>
        <h2 ng-show="noJobsMessage">Select a scheduled job to see more details</h2>
      </div>
      <script type="text/ng-template" id="jobscheduledetails.html">
        <div class="header">
          <span><i class="wait icon"></i> {{metadata.createdDate | date:'medium'}}</span>
          <span class="status" ng-class="metadata.status">{{metadata.status}}</span>
        </div>

        <div class="objectsnames">
          <b></b> {{metadata.sourceObjectName}}
          <i class="chevron right icon"></i>
          <b></b> {{metadata.targetObjectName}}
        </div>

        <div class="footer running bar" ng-if="metadata.status == 'RUNNING'">
          <div></div>
        </div>

        <div class="footer" ng-if="metadata.status != 'RUNNING'">
          <span>
            downloaded: {{metadata.sourceRecordCount}}
          </span>
          <span>
            errors: {{metadata.targetErrorCount}}
          </span>
        </div>
      </script>

      <ul ng-show="!noJobsMessage" class="scheduledjobs-list">
        <li class="job-tree-node" ng-repeat="metadata in jobscheduledetails" ng-include="'jobscheduledetails.html'"
            ng-click="onSelectJob($index);" ng-class="{'selectJobDetails': $index == selectedIndexJobDetails}">
        </li>
      </ul>
    </div>


    <div class="executionslist" ng-show="noJobsMessageDetailsErrors">
      <div>
        <h2 ng-show="!showErrors">Select a job detail to see more details</h2>
        <h2 ng-show="showNoErrors" class="errorTitle">{{errorMessage}}</h2>
        <h2 ng-show="showErrors">Errors</h2>
      </div>
      <div ui-grid="jobExecutionsOptions" ui-grid-selection ui-grid-auto-resize
           ng-if="showErrors" class="errorJobHistoryGrid" style="left: 20px; top: 60px;"></div>
    </div>

  </div>

</section>