<div class="header-navigation" ng-include="'branddingbar.html'"></div>
<div class="header-navigation" ng-controller="NavigationController as other" ng-show="shownav"
     ng-include="'navigation.html'"></div>
<!-- LIST SELECTION -->
<section id="mapper" class="">
  <!-- FIXED LIST HEADER & SELECTION -->
  <div id="mapper-header" class="sixteen">
    <div class="ui column padded grid">
      <div class="column six wide padded dropdownmenu">
        <div class="target-source-link-img">
          <span style="background-image: url({{sourceLogo}})"></span>
          <p style="float: left;padding: 0;line-height: 1.3em;padding-left: 5px;">
            <b style="font-weight: bold; text-transform: uppercase;">{{sourceName}}</b>
            <br/>source</p>
        </div>
        <div class="target-source-icon pull-right" style="margin-bottom: 0">
          <i class="long arrow right icon"></i>
        </div>
      </div>
      <div class="column ten wide" style="padding: .3rem 1rem; background-color: rgba(0,0,0,.05);">
        <div class="target-source-link-img">
          <span style="background-image: url({{targetLogo}})"></span>
          <p style="float: left;padding: 0;line-height: 1.3em;padding-left: 5px;font-weight: bold; color: #333;">
            <b style="font-weight: bold; text-transform: uppercase;">{{targetName}}</b>
            <br/> target</p>
        </div>
        <p ng-show="bidirectionalMapping" style="float: right;
         padding: 0;line-height: 1.3em;padding-right: 5px;font-weight: bold; color: #333;">
          Bi-directional
          <md-switch class="two wide column md-primary-green" ng-model="mapper.bidirectional" aria-label></md-switch>
        </p>
      </div>
    </div>
  </div>

  <div id="mapping-data-list-body" class="mapping-data-list ui padded grid">
    <!-- mapper BODY -->
    <div id="mapper-data-list-source" class="column six wide ui padded grid">

      <div class="column sixteen wide" id="select-dropdown-container" style="padding: 0 30px;">
        <!--<ui-select class="ui-select-datalist" ng-model="selectedObject.select" theme="select2" ng-disabled="disabled"-->
        <!--style="width: 100%;"-->
        <!--ng-change="refreshObjectMetaData()">-->
        <!--<ui-select-match>{{$select.selected.name}}</ui-select-match>-->
        <!--<ui-select-choices repeat="selectedObject in instanceObjects | filter: $select.search">-->
        <!--<md-switch class="md-primary-green" aria-label="Enable Object"-->
        <!--ng-click="$event.stopPropagation()" ng-model="selectedObject.transformed">-->
        <!--</md-switch>-->
        <!--<div ng-bind-html="selectedObject.name | highlight: $select.search">-->
        <!--</div>-->
        <!--</ui-select-choices>-->
        <!--</ui-select>-->

        <select data-ng-model="selectedObject.select"
                ng-options="o as o.displayName == null ? o.name : o.displayName for o in instanceObjects"
                ng-change="refreshObjectMetaData()" class="ui-select-datalist" style="width: 100%;">
        </select>

      </div>

      <div class="searchbarContainer">
        <input type="text" placeholder="Search for a field..." class="ui searchbar" data-ng-model="searchtarget"
               ng-focus="hasFocus = true" ng-blur="hasFocus = false"/>
        <a class="btn btn-link" data-ng-click="searchtarget = '' " tabindex="0"
           ng-class="{'showBtn': hasFocus || searchtarget.length}">
          clear</a>
      </div>
      <div ng-show="addCustomfieldsSource">
        <div class="customFieldContainer">
          <input type="text" ng-model="sourceFieldName" placeholder="Add Custom Field"
                 class="column eight ui searchbar" ng-focus="hasFocus = true" ng-blur="hasFocus = false"/>
          <button class="addField" ng-click="addCustomfieldSource(sourceFieldName)">Add Custom Field</button>
        </div>
      </div>

      <div class="ui grid fields configContainer" style="padding: 0;" ng-if="mapperwhere">
        <div ng-repeat="configs in mapperwhere track by $index" class="eight wide column ui input field">
          <label>{{configs.name}}</label>
          <input type="{{configs.type}}" name="{{configs.key}}" ng-model='configs.value' placeholder=" ">
        </div>
      </div>

      <div class="sixteen wide column ui inverted grid input field" ng-if="fileUpload" id="file-upload-label">
        <small>The '{{selectedObject.select.name}}' entity requires a file</small>
      </div>

      <div class="sixteen wide column ui inverted grid input field" ng-if="fileUpload" id="file-upload">
        <button type="file" ng-model="file" name="file" ngf-select="handleFileUploadSelect($file, $invalidFiles)"
                ngf-pattern="'text/csv'" ngf-accept="'text/csv'">Select a file...
        </button>
        <span>{{files[selectedObject.select.name].name}}</span>
      </div>

      <div class="ui grid fields configContainer" style="padding: 0;" ng-if="mapperMetaDataById">
        <div class="sixteen wide column ui inverted grid input field" style="margin: 0;">

          <label style="padding:0; width: 100%;">Load fields by providing {{mapperMetaDataById.name}}</label>

          <input class="ten wide column" type="{{mapperMetaDataById.type}}" name="{{mapperMetaDataById.key}}"
                 ng-model='mapperMetaDataById.value' placeholder=" ">
          <button class="five wide column ui inverted green basic button" type="submit" ng-click="loadMetaData()"
                  style="margin: 0;
        height: 32px;padding: 0em;float: right;margin-left: 5px;">Load
          </button>

        </div>
      </div>

      <script type="text/ng-template" id="objectFields.html" data-nodrop>

        <!--Show tree node for object undraggable-->

        <div ui-tree-handle data-nodrop class="tree-node ui toggle tree-root-li-li-container" data-nodrag
             ng-if="showTreeToggle(metadata)">
          <button type="submit" ng-show=true data-nodrop class="pull-left btn btn-success btn-xs toogle-tree-btn"
                  ng-click="toggle(this)">
        <span data-nodrop class="glyphicon glyphicon-remove"
              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
          </button>
          <div data-nodrop ng-show="!showTreeToggle(metadata)" class="pull-left btn-spacer"></div>
          <label data-nodrop>{{metadata.vendorDisplayName ? metadata.vendorDisplayName : metadata.path}}</label>
          <span class="type" data-nodrop>{{metadata.type}}</span>
        </div>

        <!--Show tree node for object draggable-->
        <div ui-tree-handle data-nodrop class="tree-node ui toggle tree-root-li-li-container"
             ng-if="!showTreeToggle(metadata)">
          <button type="submit" ng-show=false data-nodrop class="pull-left btn btn-success btn-xs toogle-tree-btn"
                  ng-click="toggle(this)">
        <span data-nodrop class="glyphicon glyphicon-remove"
              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
          </button>
          <div data-nodrop ng-show="!showTreeToggle(metadata)" class="pull-left btn-spacer"></div>
          <label data-nodrop>{{metadata.vendorDisplayName ? metadata.vendorDisplayName : metadata.path}}</label>
          <span class="type" data-nodrop>{{metadata.type}}</span>
        </div>

        <ul ui-tree-nodes="" data-nodrop ng-model="metadata.fields" ng-class="{hidden: collapsed}">
          <li ng-repeat="metadata in metadata.fields" ui-tree-node data-nodrop id="tree1-root-node"
              ng-include="'objectFields.html'" collapsed="false" ng-hide="!treeFilter(metadata, searchtarget)">
          </li>
        </ul>

      </script>

      <div ui-tree="mapperTreeOptions" id="tree1-root" data-drag-enabled="true" ng-show="showTree"
           class="list source-list" data-nodrop>

        <li class="tree-root-li" data-nodrop>
          <ul ui-tree-nodes="" data-nodrop ng-model="objectMetaData">
            <li ng-repeat="metadata in objectMetaData" ui-tree-node data-nodrop id="tree1-root-node"
                ng-include="'objectFields.html'" collapsed="false" ng-hide="!treeFilter(metadata, searchtarget)">
            </li>
          </ul>
        </li>

      </div>

    </div>

    <!-- LIST BODY -->
    <div id="mapper-data-list-target" class="column ten wide ui grid">
      <label ng-show="showTargetObjectSelection" style="margin: 28px
     0 0;color: #444;font-size: 120%;padding-left: 20px;font-weight: bold;">Select target object:</label>
      <p style="float: right;
         padding: 0;line-height: 1.3em;padding-right: 5px;font-weight: bold; color: #333;">
        Enable Object Selection
        <md-switch class="two wide column md-primary-green" ng-model="showObjectSelection"
                   ng-change="refreshTargetObject()" aria-label>
        </md-switch>
      </p>
      <select ng-show="showTargetObjectSelection" data-ng-model="selectedTargetObject"
              ng-options="o as o.displayName == null ? o.name : o.displayName for o in targetObjects"
              ng-change="refreshTargetObject()" class="column eight wide target-select" style="padding: 5px 1rem;
            margin-left: 0;">
      </select>

      <script type="text/ng-template" id="mapperFields.html">

        <div ui-tree-handle class="tree-node ui toggle tree-root-li-li-container">

          <button type="submit" data-nodrag ng-show="showTreeToggle(metadata)"
                  class="pull-left btn btn-success btn-xs toogle-tree-btn" ng-click="toggle(this)"><span
                  class="glyphicon glyphicon-remove"
                  ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
          </button>

          <div ng-show="!showTreeToggle(metadata)" class="pull-left btn-spacer"></div>
          <span class="target">{{metadata.vendorDisplayName == null ? metadata.vendorPath: metadata.vendorDisplayName}}</span>
          <i class="angle right icon"></i>
          <span class="source">{{metadata.sourceVendorDisplayName == null ? metadata.path:metadata.sourceVendorDisplayName }}</span>
          <button type="submit" data-nodrag class="pull-right btn btn-danger btn-xs" ng-click="removeMapPath(this)"
                  ng-show="metadata.path"><span
                  class="glyphicon glyphicon-remove"></span></button>
          <span class="type">{{metadata.type}}</span>

        </div>

        <ul ui-tree-nodes="" ng-model="metadata.fields" ng-class="{hidden: collapsed}">
          <li ng-repeat="metadata in metadata.fields" ui-tree-node ng-include="'mapperFields.html'" collapsed="false"
              ng-hide="!treeFilter(metadata, searchsource)" ng-class="{'mapped': metadata.path}">
          </li>
        </ul>
      </script>
      <!-- Adding custom fields for webapp config customFieldContainer:true -->
      <div ng-show="addCustomfieldsTarget">
        <div class="customFieldContainer">
          <input type="text" ng-model="fieldName" placeholder="Add Custom Field" class="column eight ui searchbar"
                 ng-focus="hasFocus = true" ng-blur="hasFocus = false"/>
          <button class="addField" ng-click="addCustomfields(fieldName)">Add Custom Field</button>
        </div>
      </div>
      <!-- end custom-->
      <div ui-tree="mapperTreeOptions" id="tree2-root" ng-show="showTargetTree" class="list" data-drag-enabled="true"
           ng-style="!showTargetObjectSelection && {'top': '20px'}" ng-class="{showaceinlist: !collapsedAce}">

        <div class="ui-tree-heading">
          <h1 class="column eight">{{selectedTargetObject.displayName == null ? selectedTargetObject.name:
            selectedTargetObject.displayName}}</h1>

          <div class="searchbarContainer">
            <input type="text" placeholder="Search" class="column eight ui searchbar" data-ng-model="searchsource"
                   ng-focus="hasFocus = true" ng-blur="hasFocus = false"/>
            <a class="btn btn-link" data-ng-click="searchsource = '' " tabindex="0"
               ng-class="{'showBtn': hasFocus || searchsource.length}">
              clear</a>
          </div>

        </div>
        <li class="tree-root-li">
          <ul ui-tree-nodes="" ng-model="mapperdata">
            <li ng-repeat="metadata in mapperdata" ui-tree-node id="tree2-root-node" ng-include="'mapperFields.html'"
                collapsed="false" ng-hide="!treeFilter(metadata, searchsource)" data-nodrag
                ng-class="{'mapped': metadata.path}">
            </li>
          </ul>
        </li>

      </div>
      <div class="editor-container" ng-show="showTargetTree && showJSEditor">
        <div class="ui-ace-tab" ng-show="collapsedAce">
          <a href='#' type="button" class="btn-tab" ng-click="jsCustomization($event)">
            Add <b>JS</b> Customization</a>
        </div>
        <div class="ace-editor-wrapper" ng-show="!collapsedAce">

          <div class="ace-editor-toolbar top" style="padding: 5px; height: 30px;" ng-show="!collapsedAce">
            <button type="button" class="mini ui icon button" ng-click="closeJS();" ng-show="!collapsedAce"
                    style="padding: 5px; float: right;">
              <i class="remove icon" aria-hidden="true"></i>Close
            </button>

          </div>
          <div class="ace-editor-toolbar top" ng-show="!collapsedAce" style="background-color: #141414 !important;">
            <p style="position: relative;"> function <b>transform</b>(transformedObject, originalObject) { </p>

          </div>
          <div class="ui-ace-container" ng-show="!collapsedAce" ui-ace="{
                          showGutter: true,
                          firstLineNumber: 2,
                          mode: 'javascript',
                          theme:'twilight',
                          require: ['language_tools', 'beautify'],
                          onLoad: aceLoaded,
                          advanced: {
                              enableSnippets: true,
                              enableBasicAutocompletion: true,
                              enableLiveAutocompletion: true
                          }
                        }"></div>
          <div class="ace-editor-toolbar bottom" ng-show="!collapsedAce" style="background-color: #141414 !important;">
            <p style="padding-top: 10px;">}</p>
          </div>
        </div>
      </div>
    </div>
</section>

<md-sidenav class="md-sidenav-left" md-component-id="left" ng-include="'sidenav.html'"
            ng-controller="NavigationController"></md-sidenav>
