<!-- LIST SELECTION -->
<section id="mapper" class="animated-panel">

  <!-- FIXED LIST HEADER & SELECTION -->
  <div id="mapper-header" class="sixteen">
    <div class="ui grid">
      <div class="column six wide">
        <div class="target-source-link-img">
          <span style="background-image: url({{sourceLogo}})"></span>
          <p style="float: left;padding: 0;line-height: 1.3em;padding-left: 5px;">
            <b style="font-weight: bold; text-transform: uppercase;">{{sourceName}}</b>
            <br/>source</p>
        </div>
        <div class="target-source-icon pull-right">
          <i class="long arrow right icon"></i>
        </div>
      </div>
      <div class="column ten wide">
        <div class="target-source-link-img">
          <span style="background-image: url({{targetLogo}})"></span>
          <p style="float: left;padding: 0;line-height: 1.3em;padding-left: 5px;font-weight: bold;">
            <b style="font-weight: bold; text-transform: uppercase;">{{targetName}}</b>
            <br/> target</p>
        </div>
        <div class="button-container pull-right">
          <div class="ui tiny">
            <button type="submit" class="ui button tiny" ng-click="cancel()">Back</button>
            <button type="submit" class="ui inverted button tiny" ng-click="save()">Schedule Job</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div id="mapping-data-list-body" class="mapping-data-list ui grid">
  <!-- mapper BODY -->
  <div id="mapper-data-list-source" class="column six wide ui grid">

    <div class="column sixteen wide" id="select-dropdown-container" style="padding: 0 30px;">
      <!--<ui-select class="ui-select-datalist" ng-model="selectedObject.select" theme="select2" ng-disabled="disabled"-->
                 <!--style="width: 100%;"-->
                 <!--ng-change="refreshObjectMetaData()">-->
        <!--<ui-select-match>{{$select.selected.name}}</ui-select-match>-->
        <!--<ui-select-choices repeat="selectedObject in instanceObjects | filter: $select.search">-->
          <!--<md-switch class="md-primary-green" aria-label="Enable Object"-->
                     <!--ng-click="$event.stopPropagation()" ng-model="selectedObject.transformed">-->
          <!--</md-switch>-->
          <!--<div ng-bind-html="selectedObject.name | highlight: $select.search">-->
          <!--</div>-->
        <!--</ui-select-choices>-->
      <!--</ui-select>-->

      <select
          data-ng-model="selectedObject.select"
          ng-options="o as o.name for o in instanceObjects"
          ng-change="refreshObjectMetaData()" class="ui-select-datalist" style="width: 100%;">
      </select>

    </div>

    <div class="searchbarContainer">
      <input type="text" placeholder="Search" class="ui searchbar" data-ng-model="searchtarget"
             ng-focus="hasFocus = true" ng-blur="hasFocus = false"/>
      <a class="btn btn-link" data-ng-click="searchtarget = '' " tabindex="0" ng-class="{'showBtn': hasFocus}">
        clear</a>
    </div>
    <script type="text/ng-template" id="objectFields.html">

    <div ui-tree-handle class="tree-node ui toggle tree-root-li-li-container">
      <button type="submit" ng-show="showTreeToggle(metadata)"
              class="pull-left btn btn-success btn-xs toogle-tree-btn" ng-click="toggle(this)"><span
              class="glyphicon glyphicon-remove"
              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></button>
      <div ng-show="!showTreeToggle(metadata)" class="pull-left btn-spacer"></div>
      <label>{{metadata.path}}</label>
      <span class="type">{{metadata.type}}</span>
    </div>

    <ul ui-tree-nodes ng-model="metadata.fields" ng-class="{hidden: collapsed}" data-nodrop-enabled="true">
      <li ng-repeat="metadata in metadata.fields" ui-tree-node ng-include="'objectFields.html'"
          collapsed="false" ng-hide="!treeFilter(metadata, searchtarget)">
      </li>
    </ul>

  </script>

  <div ui-tree="mapperTreeOptions" id="tree1-root" data-drag-enabled="true" ng-show="showTree"
       class="list" style="top: 105px;">
    <li class="tree-root-li">
      <ul ui-tree-nodes="" ng-model="objectMetaData" data-nodrop-enabled="true">
        <li ng-repeat="metadata in objectMetaData"
            ui-tree-node id="tree1-root-node" ng-include="'objectFields.html'"
            collapsed="false" ng-hide="!treeFilter(metadata, searchtarget)">
        </li>
      </ul>
    </li>

  </div>

  </div>


  <!-- LIST BODY -->
  <div id="mapper-data-list-target" class="column ten wide ui grid">
    <select
            data-ng-model="selectedTargetObject"
            ng-options="o as o for o in targetObjects"
            ng-change="refreshTargetObject()" class="column eight wide target-select" style="padding: 5px 1rem;">
    </select>


    <script type="text/ng-template" id="mapperFields.html">

      <div ui-tree-handle class="tree-node ui toggle tree-root-li-li-container">

        <button type="submit" data-nodrag ng-show="showTreeToggle(metadata)"
                class="pull-left btn btn-success btn-xs toogle-tree-btn" ng-click="toggle(this)"><span
                class="glyphicon glyphicon-remove"
                ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></button>

        <div ng-show="!showTreeToggle(metadata)" class="pull-left btn-spacer"></div>
        <span class="target">{{metadata.vendorDisplayName == null ? metadata.vendorPath: metadata.vendorDisplayName}}</span>
        <i class="angle right icon"></i>
        <span class="source">{{metadata.path}}</span>

        <span class="type">{{metadata.type}}</span>

        <button type="submit" data-nodrag class="pull-right btn btn-danger btn-xs" ng-click="removeMapPath(this)"><span
                class="glyphicon glyphicon-remove"></span></button>
      </div>

      <ul ui-tree-nodes="" ng-model="metadata.fields" ng-class="{hidden: collapsed}">
        <li ng-repeat="metadata in metadata.fields" ui-tree-node ng-include="'mapperFields.html'"
            collapsed="false" ng-hide="!treeFilter(metadata, searchsource)">
        </li>
      </ul>

    </script>

    <div ui-tree="mapperTreeOptions" id="tree2-root"  ng-show="showTargetTree" class="list" data-drag-enabled="true">
      <div class="ui-tree-heading">
        <h1 class="column eight">{{selectedTargetObject}}</h1>
        <div class="searchbarContainer">
          <input type="text" placeholder="Search" class="column eight ui searchbar" data-ng-model="searchsource"
                 ng-focus="hasFocus = true" ng-blur="hasFocus = false"/>
          <a class="btn btn-link" data-ng-click="searchsource = '' " tabindex="0" ng-class="{'showBtn': hasFocus}">
            clear</a>
        </div>

      </div>
      <li class="tree-root-li">
        <ul ui-tree-nodes="" ng-model="mapperdata">
          <li ng-repeat="metadata in mapperdata"
              ui-tree-node id="tree2-root-node" ng-include="'mapperFields.html'"
              collapsed="false"
              ng-hide="!treeFilter(metadata, searchsource)" data-nodrag>
          </li>
        </ul>
      </li>

    </div>


  </div>

</section>

