<div class="bottom_nav">
  <div ng-include="'hsgoogletag.html'" ng-if="hsanalytics" style="display: hidden;"></div>
  <!-- Menu Button -->
  <button class="btn btn-link navButton" ng-click="openSideNav('left', $event)">
    <i class="icon sidebar"></i> Menu
  </button>
  <a href class="help" ng-click='onHelp($event)' ng-show="{{branding.showhelp || !branding}}">
    <i class="icon help circle"></i> Help
  </a>

  <!-- Step Title and Tooltip -->
  <script type="text/ng-template" id="steptitle.html">
    {{metadata.stepName}} <i class="icon info circle">
    <md-tooltip>{{metadata.description}}</md-tooltip></i>
  </script>
  <div class="steptitle" ng-model="steps"  style="margin-left:20px;">
    <p class="stepname" ng-repeat="metadata in steps" ng-include="'steptitle.html'" ng-show="showStepTitle(metadata.step, processtep)"></p>
  </div>

  <!-- Steps -->
  <script type="text/ng-template" id="stepsdots.html">
    <div class="step-incomplete">
      <i class="step-complete icon checkmark"></i>
    </div>
  </script>
  <ul id="progressbar" ng-model="steps">
    <li ng-repeat="metadata in steps" ng-include="'stepsdots.html'"
        ng-class="stepClass(metadata.step, processtep)">
    </li>
  </ul>

  <!-- Navigation per section -->
  <div ng-if="processtep == 'mapper'" class="pull-right" style="padding-top: 5px;">
    <button type="submit" class="ui labeled button" ng-click="cancel()">
      <i class="icon arrow left"></i>Back</button>
    <button type="submit" class="next ui right labeled button" ng-click="save()">
      {{nextButtonText}}<i class="icon arrow right"></i>
    </button>
  </div>
  <div ng-if="processtep == 'formula'" class="pull-right" style="padding-top: 5px;">
    <button type="submit" class="ui labeled button" ng-click="cancel()">
      <i class="icon arrow left"></i>Back
    </button>
    <button type="submit" class="next ui right labeled button" ng-click="done()">
      Done <i class="checkmark icon"></i>
    </button>
  </div>
  <div ng-if="processtep == 'schedule'" class="pull-right" style="padding-top: 5px;">
    <button type="submit" class="ui labeled button" ng-click="cancel()"><i class="icon arrow left"></i>Back</button>
    <button type="submit" class="next ui right labeled button" ng-click="save()" ng-show="datatransfer == 'transfernow'">Transfer
      Now <i class="checkmark icon"></i></button>
    <button type="submit" class="next ui right labeled button" ng-click="save()"
            ng-show="datatransfer == 'schedule'">Schedule Transfer <i class="checkmark icon"></i></button>
  </div>
  <div ng-if="processtep == 'datalist'" class="pull-right" style="padding-top: 5px;">
      <button type="submit" class="ui labeled button" ng-click="cancel()">
        <i class="icon arrow left"></i>Back</button>
      <button type="submit" class="next ui right labeled button" ng-click="save()">
        Save and Schedule Job <i class="checkmark icon"></i></button>
  </div>

</div>