<!-- SERVICE PICKER -->
<section id="picker" class="animated-card" ng-class="withTarget">
  <div class="picker-source">
    <div class="vertical-align" style="width: 100%;">
      <h2 class="ui icon header">
        <i class="bullseye icon light"></i>
        <div class="content light">
          Select Target
          <div class="sub header light">That you would like to use with BulkLoader:</div>
        </div>
      </h2>

      <div class="services-selections">
        <a href ng-click="onSelect('zendesk')" id="zendesk" class="zendesk" data-instance="Connect to Zendesk">
        </a>
        </a>
      </div>
    </div>
  </div>

  <div class="picker-target">
    <div class="vertical-align" style="width: 100%;">
      <h2 class="ui icon header">
        <i class="settings icon light"></i>

        <div class="content light">
          Select a Service
          <div class="sub header light">That you would like to use with BulkLoader:</div>
        </div>
      </h2>

      <div class="services-selections" ng-init="isDisabled = false">
        <a href ng-click="onSelect('sfdcmarketingcloud')" id="sfdcmarketingcloud" class="salesforce" alt="SalesForce"
           data-instance="Connect to Salesforce.com">
          <i class="icon wait" ng-click="onSelectSchedule('sfdcmarketingcloud', $event)"></i>
        </a>
        <a href ng-click="onSelect('hubspot')" id="hubspot" class="hubspot" alt="HubSpot"
           data-instance="Connect to Hubspot">
          <i class="icon wait" ng-click="onSelectSchedule('hubspot', $event)"></i>
        </a>
        <a href ng-click="onSelect('eloqua')" id="eloqua" class="eloqua" alt="Eloqua" data-instance="Connect to Eloqua">
          <i class="icon wait" ng-click="onSelectSchedule('eloqua', $event)"></i>
        </a>
        <a href ng-click="onSelect('marketo')" id="marketo" class="marketo" alt="Marketo"
           data-instance="Connect to Marketo">
          <i class="icon wait" ng-click="onSelectSchedule('marketo', $event)"></i>
        </a>
        <a href ng-click="onSelect('jira')" id="jira" class="jira" alt="Jira"
           data-instance="Connect to Jira">
          <i class="icon wait" ng-click="onSelectSchedule('jira', $event)"></i>
        </a>
        <a href ng-click="onSelect('sfdcservicecloud')" id="sfdcservicecloud" class="sfdcservicecloud" alt="SalesForce"
           data-instance="Connect to Salesforce.com">
          <i class="icon wait" ng-click="onSelectSchedule('sfdcservicecloud', $event)"></i>
        </a>
        <!--<a href="#" class="add-new" alt="Add New Service"><i class="icon circle add"></i></a>-->
      </div>
    </div>
  </div>
</section>

