<!-- SERVICE PICKER -->
<section id="picker" class="animated-card" ng-class="withTarget">
  <div class="picker-history">
    <a href class="history pull-right" ng-click='onJobHistory()'>
      History <i class="icon history"></i>
    </a>
    <a href class="help pull-right" ng-click='onHelp($event)'>
      <i class="icon help circle"></i> Help
    </a>
  </div>

  <div class="picker-source">
    <div class="vertical-align" style="width: 100%;">
      <h2 class="ui icon header">

        <div class="content light">

          <i class="settings icon light"></i> Select a Service
          <div class="sub header light">That you would like to use with BulkLoader:</div>
        </div>
      </h2>

      <div class="services-selections" ng-init="isDisabled = false">
        <a href ng-repeat="source in sources"
           ng-click='onSelect("{{source.elementKey}}", "source")'
           id="{{source.elementKey}}"
           data-instance="Connect to {{source.name}}"
           style='background-image: url("{{source.image}}");'>
          <i ng-show="showWait" class="icon wait" ng-click='onSelectSchedule("{{source.elementKey}}", $event)'></i>
          <i class="icon write" ng-click='onEditInstance("{{source.elementKey}}", "source", $event)'> Edit</i>
        </a>
      </div>

      <!--<div class="services-selections" ng-init="isDisabled = false">-->
        <!--<a href ng-repeat="source in sources"-->
           <!--ng-click='onSelect("{{source.elementKey}}", "source")'-->
           <!--id="{{source.elementKey}}"-->
           <!--data-instance="Connect to {{source.name}}"-->
           <!--style='background-image: url("{{source.image}}");'>-->
          <!--<i class="icon wait" ng-click='onSelectSchedule("{{source.elementKey}}", $event)'></i>-->
        <!--</a>-->
      <!--</div>-->



    </div>
  </div>
  <div class="picker-target" ng-show="showTarget">
    <div class="vertical-align" style="width: 100%;">
      <h2 class="ui icon header">
        <i class="bullseye icon light"></i>
        <div class="content light" ng-show="showSelectTarget" >
          Connect to your Account at
          <!-- div class="sub header light">That you would like to use with BulkLoader:</div -->
        </div>
        <div class="content light" ng-show="!showSelectTarget">
          Connected to your Account at
          <!-- div class="sub header light">That will be used with BulkLoader:</div -->
        </div>
      </h2>

      <div class="services-selections">
        <a href ng-repeat="target in targets"
           ng-click='onSelect("{{target.elementKey}}", "target")'
           id="{{target.elementKey}}"
           data-instance="Connect to {{target.name}}"
           style='background-image: url("{{target.image}}");'>
          <i ng-show="showWait" class="icon wait"
             ng-click='onSelectSchedule("{{target.elementKey}}", $event)'></i>
          <i class="icon write" ng-click='onEditInstance("{{target.elementKey}}", "target", $event)'> Edit</i>
        </a>
      </div>


    </div>
  </div>

</section>

