<div class="header-navigation" ng-include="'branddingbar.html'"></div>
<div class="header-navigation" ng-controller="NavigationController as other" ng-show="shownav"
     ng-include="'navigation.html'"></div>
<!-- SERVICE PICKER -->

<section id="picker" class="" ng-class="withTarget">
  <div class="picker-source">
    <div class="popup" ng-show="popup" ng-click=test(popup=!popup)>
      <div class="text">Welcome! For help getting started press the "Help" button near the top left corner of
        this page or to open eCommerce specific setup in a new tab, click <a
                href="http://swiftpage-docs.cloud-elements.com/index.html" target="_blank">here
        </a>
      </div>
      <button class="close_popup"> Got it. Thanks </button>

    </div>
    <h2 class="ui icon header">

      <div class="content light">

        <i class="settings icon light"></i>{{service}}
        <div class="sub header light">{{connection}} with {{appName}}:</div>
      </div>
    </h2>

    <div class="services-selections" ng-init="isDisabled = false">
      <a ng-repeat="source in sources"
         data-ng-click='onSelect("{{source.elementKey}}", "source", $event)'
         id="{{source.elementKey}}"
         data-instance="Connect to {{source.name}}"
         style='background-image: url("{{source.image}}");'>
        <!--<i ng-show="showWait" class="icon wait" ng-click='onSelectSchedule("{{source.elementKey}}", $event)'></i>-->
        <i class="icon write" ng-click='onEditInstance("{{source.elementKey}}", "source", $event)'> <span>Edit</span></i>
        <i class="icon trash" ng-click='onDeleteInstance("{{source.elementKey}}", "target", $event)'></i>
      </a>
    </div>

    <!--<div class="services-selections" ng-init="isDisabled = false">-->
    <!--<a href ng-repeat="source in sources"-->
    <!--ng-click='onSelect("{{source.elementKey}}", "source")'-->
    <!--id="{{source.elementKey}}"-->
    <!--data-instance="Connect to {{source.name}}"-->
    <!--style='background-image: url("{{source.image}}");'>-->
    <!--<i class="icon wait" ng-click='onSelectSchedule("{{source.elementKey}}", $event)'></i>-->
    <!--</a>-->
    <!--</div>-->


  </div>
  <div class="picker-target" ng-show="showTarget">
    <h2 class="ui icon header">
      <i class="bullseye icon light"></i>

      <div class="content light" ng-show="showSelectTarget">
        {{target_connect}}
      </div>
      <div class="content light" ng-show="!showSelectTarget">
        Connected to your Account at
      </div>
    </h2>

    <div class="services-selections">
      <a href ng-repeat="target in targets"
         data-ng-click='onSelect("{{target.elementKey}}", "target", $event)'
         id="{{target.elementKey}}"
         data-instance="Connect to {{target.name}}"
         style='background-image: url("{{target.image}}");'>
        <!--<i ng-show="showWait" class="icon wait"-->
        <!--ng-click='onSelectSchedule("{{target.elementKey}}", $event)'></i>-->
        <i class="icon write" ng-click='onEditInstance("{{target.elementKey}}", "target", $event)'> <span>Edit</span></i>
        <i class="icon trash" ng-click='onDeleteInstance("{{target.elementKey}}", "target", $event)'></i>
      </a>
    </div>


  </div>

</section>

<md-sidenav class="md-sidenav-left" md-component-id="left" ng-include="'sidenav.html'"
            ng-controller="NavigationController"></md-sidenav>