<!-- SCHEDULING MODAL -->
<!--<div class="ui basic modal" style="display: block; width: 100%; position: static; margin: 0; min-height: 500px;">-->
    <!--<i class="close icon" ng-click="cancel()"></i>-->

    <!--<div class="header">-->
        <!--Export Data-->
    <!--</div>-->
    <!--<div class="content">-->
      <!--<div class="image">-->
          <!--<i class="wait icon"></i>-->
      <!--</div>-->
      <!--<div class="description">-->
        <!--<h2>How far back would you like to pull data from? </h2>-->
        <!--<div class="ui icon input fluid">-->
            <!--<input type="text" class="datepicker" datepicker-popup="{{format}}" ng-model="queryStartDate"-->
                   <!--placeholder="January 01, 2015" is-open="opened" min-date="minDate"-->
                   <!--datepicker-options="dateOptions"-->
                   <!--show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" max-date="maxDate"-->
                   <!--close-text="Close"/>-->
          <!--<span class="input-group-btn" style="position: absolute;top: 0;right: 39px;">-->
            <!--<button type="button" class="btn btn-default" ng-click="open($event)"-->
                    <!--style="padding: 10px 11px 11px 13px;"><i class="calendar icon"></i></button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="actions">-->
        <!--<div class="two fluid ui inverted buttons">-->
            <!--<button type="submit" class="ui red basic inverted button tiny" ng-click="cancel()">-->
                <!--<i class="remove icon"></i> Back-->
            <!--</button>-->
            <!--<button type="submit" class="ui green basic inverted button tiny" ng-click="save()">-->
                <!--<i class="checkmark icon"></i> Schedule Job-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="ui basic" style="display: block; width: 100%; position: static; margin: 0; min-height: 500px;">-->

<div class="ui grid basic">
  <i class="close icon closebutton" ng-click="cancel()"></i>

  <div class="header wide row">
    <h2 class="wide column">Schedule</h2>
  </div>
  <div class="content wide row">
    <div class="ui grid">
      <div class="six wide column">
        <p style="float: left;padding: 0;line-height: 1.3em;padding-left: 75px;
        background-image: url({{sourceLogo}});background-size: contain;background-repeat: no-repeat;">
          <b style="font-weight: bold; text-transform: uppercase;">{{sourceName}}</b>
          <br/>source</p>
      </div>
      <div ng-show="showTarget" class="two wide column">
        <i class="long arrow right icon" style="font-size: 2rem;"></i>
      </div>
      <div ng-show="showTarget" class="six wide column">
        <p style="float: left;padding: 0;line-height: 1.3em;font-weight: bold; padding-left:75px;
         background-image: url({{targetLogo}});background-size: contain;background-repeat: no-repeat;">
          <b style="font-weight: bold; text-transform: uppercase;">{{targetName}}</b>
          <br/> target</p>
      </div>

      <script type="text/ng-template" id="currentTransfomations.html">
          <p class="fourteen wide column">{{metadata.sourceObject}} <i class="angle right icon"></i> {{metadata
            .targetObject}}</p>
          <md-switch class="two wide column md-primary-green"
                     ng-model="metadata.transformed" aria-label></md-switch>
      </script>

      <div class="ui internally grid transformations" data-ng-model="currentTransfomations">
          <div ng-repeat="metadata in currentTransfomations"
               ng-include="'currentTransfomations.html'" class="row"></div>
      </div>

      <div class="sixteen wide column">
        <h3>How far back would you like to pull data from? </h3>
        <div class="ui icon input fluid">
          <input type="text" class="datepicker" datepicker-popup="{{format}}" ng-model="queryStartDate"
                 placeholder="January 01, 2015" is-open="opened" min-date="minDate"
                 datepicker-options="dateOptions"
                 show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" max-date="maxDate"
                 close-text="Close" datepicker-append-to-body="false"/>
            <span class="input-group-btn" style="position: absolute;top: 0;right: 39px;">
              <button type="button" class="btn btn-default" ng-click="open($event)"
                      style="padding: 14px 11px 15px 13px;"><i class="calendar icon"></i></button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="actions wide row">
    <div class="two fluid ui inverted buttons">
      <button type="submit" class="ui red basic inverted button tiny" ng-click="cancel()">
        <i class="remove icon"></i> Back
      </button>
      <button type="submit" class="ui green basic inverted button tiny" ng-click="save()">
        <i class="checkmark icon"></i> Schedule Job
      </button>
    </div>
  </div>
</div>
