<!-- SCHEDULING MODAL -->
<div class="ui basic modal" style="display: block; width: 100%; position: static; margin: 0;">
  <i class="close icon" ng-click="cancel()"></i>
  <div class="header">
    Export Data
  </div>
  <div class="content">
    <div class="image">
      <i class="wait icon"></i>
    </div>
    <div class="description">
      <h2>How far back would you like to pull data from? Last recent successful pull: January 1, 2015</h2>
      <!--<div class="ui grid">

          <div class="column eight wide">

              <div class="ui button dropdown fluid">
                  <input type="hidden" name="gender">
                  <div class="default text">Select a Frequency</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <div class="item" data-value="0">15 Minutes</div>
                      <div class="item" data-value="1">30 Minutes</div>
                      <div class="item" data-value="2">Hourly</div>
                      <div class="item" data-value="3">Daily</div>
                      <div class="item" data-value="4">Weekly</div>
                      <div class="item" data-value="5">Monthly</div>
                      <div class="item" data-value="4">Yearly</div>
                  </div>
              </div>

          </div>
          <div class="column eight wide">

              <div class="ui button dropdown fluid">
                  <input type="hidden" name="gender">
                      <i class="wait icon"></i>
                  <div class="default text">Select a Start Time</div>
                  <i class="dropdown icon"></i>

                  <div class="menu fluid">
                    <div class="item" data-value="0">12:00PM</div>
                    <div class="item" data-value="1">1:00AM</div>
                    <div class="item" data-value="2">2:00AM</div>
                    <div class="item" data-value="3">3:00AM</div>
                    <div class="item" data-value="4">4:00AM</div>
                    <!-- CONTINUE LIST BASED ON HOURS
                  </div>
                </div>

          </div>

      </div>
      <div class="ui grid">
          <div class="column eight wide">
              <div class="ui icon input fluid">
                <input type="text" class="datepicker" placeholder="Select a Start Date">
                <i class="calendar icon"></i>
              </div>
          </div>
          <div class="column eight wide">
              <div class="ui icon input fluid">
                <input type="text" class="datepicker" placeholder="Pull Data Since">
                <i class="calendar icon"></i>
              </div>
          </div>
      </div>-->

      <div class="ui icon input fluid">
        <input type="date" class="datepicker" ng-model="queryStartDate" placeholder="yyyy-mm-dd">
        <i class="calendar icon"></i>
      </div>
      <div class="warning">
                        <span>
                            20,000 Records Found in
                          <div class="ui inline dropdown">
                            <div class="text">Accounts</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                              <div class="item" data-text="Accounts">Accounts</div>
                              <div class="item" data-text="Contacts">Contacts</div>
                              <div class="item" data-text="Leads">Leads</div>
                            </div>
                          </div>
                      </span>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <button type="submit" class="ui red basic inverted button tiny" ng-click="cancel()">
        <i class="remove icon"></i> Cancel</button>
      <button type="submit" class="ui green basic inverted button tiny" ng-click="save()">
        <i class="checkmark icon"></i> Schedule Job</button>
    </div>
  </div>
</div>
