<a href class="history" ng-click='onJobHistory()'>
  <i class="icon history"></i> History
</a>
<a ng-show="showScheduling" href class="scheduled pull-right" ng-click='onScheduledJobs()'>
  <i class="wait icon"></i> Scheduled Jobs
</a>
<a href class="help" ng-click='onHelp($event)'>
  <i class="icon help circle"></i> Help
</a>
<a
        href="http://support.cloud-elements.com/hc/en-us/requests/new?preview%5Btheme_id%5D=203658075&preview_as_role=end_user&use_theme_settings=false" class="support" target="_blank">
  <i class="icon configure"></i> Contact Support
</a>

<a href class="history" style="margin-top: 50px;" ng-click='onSignout()'>
  Sign out
</a>